# Print

- If you want to communicate with a program, the first step is to let the computer speak. This is accomplished trough the ```print()``` function. A function is a program activity, for example the ```print()``` function prints words on your screen, there are many more.
- Computers cannot see the difference between code and plain text, that is why you should always put plain text between ```""``` to let the computer understand that it is not part of the code.
    - For example: 
    ``` print ("satellite") ```. ```print``` is the function and part of the code, and ```"satellite"``` is the word that should be printed. 
    - Click on the cell below and press control + enter to execute the code

exercise

In [1]:
print("satellite")

satellite

In [2]:
print("Hello world!")

Hello world!

- Now try yourself to let the computer print the word rain

In [9]:
print('some word')

some word

In [3]:
print("irrigation")

irrigation

# Variables
- Lets make a variable:
    - A variable is an object in which information can be stored.
    - The variable has a name and a value. The name is used to refer to the variable in the code
    - The name of the variable can not contain spaces
- In the next example the variable named ```first_name``` is assigned the value ```"John"```
    - ```first_name``` is the name of the variable. The name of a variable is part of code and that is why it is not between ```""```.
    - ```"John"``` is written between ```""``` to tell the computer that this is plain text

In [10]:
type('word')

str

In [5]:
first_name = "John"      # Assigns string "John" to variable first_name 
print(first_name)       # Prints variable first_name

John

In [4]:
some_variable = "John"       # Assigns string "John" to variable some_variable 
print(some_variable)        # Prints variable some_variable

John

In [3]:
apple = "John" # Assigns string "John" to variable apple 
print(apple) # Prints variable apple

John

In [2]:
john = "John" # Assigns string "John" to variable john
print(john) # Prints variable john

John

In [1]:
xyz = "John" # Assigns string "John" to variable xyz
print(xyz) # Prints variable xyz

John

# Exercise:
- Print your first name using a new variable. 
- Print your surname using a new variable. 
- Can you print both your first and surname using two variables?
    - Hint: you can print multiple things by putting a ```+``` between them. 
    - For example 
        - ```print ("mito" + "chondria")``` 
        - The output is: `mitochondria`
    - Try to play around until you get a feeling for it

In [13]:
my_name="chanako"
print(my_name)

chanako

In [15]:
WRIE= "chanako"
print(WRIE)

chanako

# Strings - methods 
- All variable types have build in methods to manipulate them. 
- A method is placed after the variable with a ```.``` between them and nearly always end with ```()```
- For example: 
    ```python
      name = "john" 
      print(name.upper())
    ```
- For some methods additional information has to be provided, this information is given between the ```()```.
    - For example, ```name.startswith("j")``` says if the name starts with a `j`, and ```name.replace("o", "a")``` replaces all `o`'s with `a`'s.

In [7]:
name="chanako"
print(name.upper())

CHANAKO

In [23]:
print(name.lower())

chanako

In [8]:
print(name.upper())            #prints the variable in uppercase

CHANAKO

In [9]:
print(name.lower())            #prints the variable in lowercase

chanako

In [10]:
print(name.capitalize())         #prints the variable with a captial

Chanako

In [11]:
print(name.islower())         #checks if the variable is lowercase

True

In [13]:
print(name.startswith('C'))         #checks if the variable starts with a C# because it start with small letter c

False

In [14]:
print(name.startswith('J'))         #checks if the variable starts with a J

False

In [15]:
print(name.replace("n", "q"))  #replaces the n's with q's

chaqako

In [16]:
print(name.replace("h", ""))    #replaces all the h's with nothing, removing the letter

canako

In [17]:
superman = "Chanako"           #assigns the string "Chanako" to variable superman

In [18]:
print(superman.upper())            #prints the variable in uppercase

CHANAKO

In [23]:
#you can also assign the result of these methods into a variable instead of printing.
#for example
name_uppercase = name.upper()
name_lowercase = name.lower()

In [24]:
print(name_uppercase)

CHANAKO

In [25]:
print(name_lowercase.replace("a", "d").replace("o", "a"))

chdndka

## Python tricks
1. A convenient tool to use in Python is the __tab__ to quickly scroll through options/saved variables etc. Try it out!
2. Another useful option in Python, is the Kernel refresh option. Sometimes, on the left of the cell an asterix appears; if this happens, it means that Python is busy running your script. 
Sometimes however it gets stuck, then its best to refresh, either the output of the cell (**cell > current output > clear**) or the whole kernel (**kernel > restart & clear output**)

# Comments
- Comments start with # 
- Useful for: 
    - Explaining code or your program 
    - Disable parts of your program

In [26]:
# This is an example script using comments
print ("Comment example script")
# print "This will not print"
print ("This will print")

Comment example script
This will print

## Exercise:
1. Assign a variable with a name of your favourite city
2. Print this variable in uppercase.
3. Check if the city starts with the letter 'A'
4. Replace a letter in the name of the city with "d"

In [27]:
# 1.Assign a variable with a name of your favourite city
city="hawassa"
print(city)

hawassa

In [28]:
# 2.Print this variable in uppercase.
print(city.upper())

HAWASSA

In [30]:
# 3.Check if the city starts with the letter 'A'
print(city.startswith('A'))

False

In [35]:
# 4.Replace a letter in the name of the city with "d"
print(city.replace("hawassa","d"))

d

## Exercise: Strings – Methods

   1. Create a variable containing a random string of letters in lower-case, e.g., "fjeioapeafjeioapfneklwfeafsajoi".
   2. Print the letters in uppercase 
   3. Replace all a's with b's and assign the result to a variable
   4. Print this variable

In [38]:
# 1.Create a variable containing a random string of letters in lower-case
letter="fjeioapeafjeioapfneklwfeafsajoi"

In [39]:
# 2.Print the letters in uppercase 
print(letter.upper())

FJEIOAPEAFJEIOAPFNEKLWFEAFSAJOI

In [46]:
# 3.Replace all a's with b's and assign the result to a variable
variable=(letter.replace("a","b"))

In [48]:
# 4.Print this variable
print(variable)

fjeiobpebfjeiobpfneklwfebfsbjoi

# Strings – Operators
- Operators can be used to perform "mathematics" with words
- ```+``` Joins/Concatenates two strings together
- ```*``` Repetition of a string 
- A string can be seen as a list of characters. Each item in a list has an index, which is the place in the list. Python starts counting indices at 0, so the first item in the list has index 0, the second item has index 1 etc etc
    - ```"cell"[n]``` returns the <i>'n'</i>th character of the string. **Keep in mind python starts counting lists at index 0.**
        - for example: ```"Arba Minch"[5]``` returns the 6th character (M)
    - ```"cell"[x:y]``` returns all the items from index x to index y (so not including the item at index y).
        - for example: ```"Arba Minch"[2:4]``` returns the third and fourth character (ba)
    - ```len("ABCDEF")``` returns the length of the list(number of characters in the string in this case)

In [31]:
print ("ABC" + "DEF") # concatenate, makes one string out of string "ABC" and string "DEF"

ABCDEF

In [32]:
print ("ABC" * 2) # makes one string out of 2 times string "ABC"

ABCABC

In [33]:
print ("ABCDEF"[3]) # returns the 4th letter (index 3 is value 4, as Python counts from 0)

D

In [35]:
# Selection of the last characters in a string. 
print("ABCDEF"[5])
# Counting backwards is possible as well; try to print the last character in a different way than selecting index 5
print ("ABCDEF"[-1])
print ("ABCDEF"[-2])
print("ABCDEF"[-6])

F
F
E
A

In [40]:
print ("ABCDEF"[2:4]) # returns the 3th and 4th letter (index 2 is value 3 and index 3 is value 4, as Python counts from 0)
# index 2:4 means 2 to 4, so the 4th index is not given

CD

In [46]:
print ("ABCDEF"[3:4]) # returns the 4th letter, same as "ABCDEF"[3]
print('ABCDEF'[3:])
print('ABCDEF'[:3])

D
DEF
ABC

In [47]:
print (len("ABCDEF")) # returns the length / number of characters of the string

6

In [48]:
#these operators also work with variables!
random_letters = "jfoepfjieoaneopajfieownfldsvejisnjeks"
print (len(random_letters))          #prints the length of the string (number of characters)

37

In [49]:
print (random_letters[5])            #prints the character at index 5(6th character)
print (random_letters[0])            #prints the character at index 0(1st character)
print (random_letters[0:5])          #prints the characters at index 0,1,2,3,4

f
j
jfoep

In [53]:
print (random_letters*2)             #prints the string twice
print (random_letters + random_letters +random_letters)   #prints the string three times

jfoepfjieoaneopajfieownfldsvejisnjeksjfoepfjieoaneopajfieownfldsvejisnjeks
jfoepfjieoaneopajfieownfldsvejisnjeksjfoepfjieoaneopajfieownfldsvejisnjeksjfoepfjieoaneopajfieownfldsvejisnjeks

In [54]:
# you can also combine operators and methods
    #prints the characters at index 0,1,2,3,4 in uppercase
print (random_letters[0:5].upper())

JFOEP

In [58]:
# makes a repetition of 5 times of the string and then counts the number of f's
print ((random_letters*5).count('f'))

20

In [65]:
# try to combine some operators

# Exercise: Strings – Operators
1. Create two variables and assign a random number of letters to both.
2. Combine both variables and print 
3. Add 10 copies of the string to the first string and assign it to a new variable.
4. Print the total length of the combined string 
5. Print the 5th letter 
6. Print the 7th to the 14th letter 
7. Bonus: print the last character of "gaattc" but not by using ```string[5]```

In [67]:
# 1.Create two variables and assign a random number of letters to both.
variable1="hawassa"
variable2="arbaminch"

In [75]:
# 2.Combine both variables and print 
print(variable1+variable2)  # this  answer is for question 2
print(variable1.upper()+ " "+ variable2.upper())
print(variable1.capitalize()+"  " +variable2.capitalize())

hawassaarbaminch
HAWASSA ARBAMINCH
Hawassa  Arbaminch

In [62]:
# 3. Add 10 copies of the second string to the first string and assign it to a new variable.
variable3=variable1+variable2*10
# and 4.Print the total length of the combined string 
print(variable3)
print(len(variable3))

hawassaarbamincharbamincharbamincharbamincharbamincharbamincharbamincharbamincharbamincharbaminch
97

In [85]:
# 5. Print the 5th letter
print(variable3[4])
# and 6. Print the 7th to the 14th letter 
print(variable3[6:14])

s
aarbamin

In [87]:
# 7.Bonus: print the last character of "gaattc" but not by using string[5]
"gaattc"[-1]
#"gaattc"[5] #  not it is not the answer mached with Askd Question

'c'

# Numbers
- Integers: whole numbers such as 1, 5, etc. 
- Floats: numbers with numbers behind the point, such as 1.5, 5.2, etc. 
- An integer variable cannot turn into a float and a float variable cannot turn into an integer
    - You can make a float if you define the variable with a number behind the point. (e.g. 5.0; 11.3; 5000.0)
    - When in doubt if you should use floats or integers, always use floats.
- Simple math using numbers (x = 5.0 and y = 2.0) : 
    - Addition: ```x + y``` = 7.0 
    - Subtraction: ```x – y``` = 3.0 
    - Division: ```x / y``` = 2.5 
    - Floor division (returning integer): `x // y` = 2
    - Multiplication: ```x * y``` = 10.0 
    - Power: ```x ** y``` = 25.0
    - Modulo (remainder): ```x % y ``` = 1.0 (2 + 2 = 4 and 5 - 4 = 1)
- Python uses the standard order of operations 
    - ```5 * (2+1)``` = 15

In [88]:
x = 5.0 # adds float 5.0 to variable x
y = 2.0 # adds float 2.0 to variable y

In [89]:
# addition of x and y, in this case 5.0 + 2.0 = 7.0
x + y

7.0

In [92]:
 # subtraction of y from x, in this case 5.0 - 2.0 = 3.0
 x - y

3.0

In [101]:
type?

In [93]:
# division of x by y, 5.0 / 2.0 = 2.5
x / y

2.5

In [95]:
# floor division of x by y, 5.0 // 2.0 = 2
x // y

2.0

In [96]:
# multiplication of x by y, 5.0 * 2.0 = 10.0
x * y

10.0

In [99]:
# x to the power y, 5.0 to the power 2.0 = 25.0
x** y

25.0

In [100]:
# remainder, what is left after all full y are taken from x, 
      # 5.0 % 2.0 = 1.0
x % y

1.0

In [102]:
# (2 + 1) = 3 and 5 * 3 = 15
5 * (2 + 1)

15

In [103]:
# 5 * 2 = 10 and 10 + 1 = 11
5 * 2 + 1

11

# Numbers - Integers and floats

In the example below we want to do a simple division of 5/2. The result is supposed to be 2.5 of course, but for some reason the program outputs 2. Can you find out what is wrong in the example code and make the program output the right answer(2.5)?

In [104]:
number1 = 2
number2 = 5
print(int(number2 / number1))

2

In [ ]:
True False # boolean
'test' # string
3 # integer
3.0 # float
[3, 1.2, 'dsae', True] # list

# Numbers – Exercise 
1. Assign the 8 to the variable number1 
2. Assign the 3 to the variable number2 
3. Make a new variable called number3 equal to the division of number1 by number2 
4. Print number3 
5. Now print number3 without decimals (numbers behind the point) using `int()`

In [110]:
### Integers!
number1=8
number2=3
number3=number1/number2
print(number3)

### 1. 2. 3. and 4.

2.6666666666666665

In [115]:
### Floats!
### 5.integer
print(float(number3))  # float
print(int(number3))   #integers

2.6666666666666665
2

# Types

- Sometimes we need to convert types 
    - ```str(variable)``` converts variable to a string 
    - ```int(variable)``` converts variable to a integer 
    - ```float(variable)``` converts variable to a float

In [122]:
# concatenates strings "2" and "2"    
"2" + "2"

'22'

In [117]:
# int("2") converts string "2" in to integer 2; now addition works 2 + 2 = 4
int("2") + int("2")

4

In [118]:
# srt(2) converts integer 2 to string "2"; now concatenate works 
str(2) + str(2)

'22'

In [127]:
# tries to convert this string in an integer
print(int('this does not work, why?'))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3056938174.py, line 2)

In [131]:
# float(5) converts integer 5 in to float 5.0
float(5) / float(2)

2.5

In [ ]:
int(5.0 / 2.0) # int(5.0/2.0) converts float 2.5 in to integer 2

In [132]:
print(int(0.9))
print(int(1.0))
print(int(1.1))

0
1
1

# Last exercise on numbers (Assignment type)

- Define three variables: 
    - name
    - length 
    - weight 
- Calculate the bmi (a measure of health) of the user 
    - ```user_bmi = weight / length ** 2``` 
- Print out with one print command: 
    - The name and calculated bmi

In [155]:
# Define three variables
name="chanako"
length=1.8
weight=68

In [158]:
# Calculate bmi
bmi = weight/length** 2

print(bmi)

20.98765432098765

In [160]:
# Print the name and calculated bmi
print(name)
print(bmi)

chanako
20.98765432098765

# Boolean: True or False 
- Booleans are the outcome when you compare or test variables 
- Examples:

In [161]:
x = 2     # add integer 2 to variable x
x < 3     # test if x is smaller than 3, in this case it is True

True

In [162]:
x = "yes"      # add string "yes" to variable x
x == "no"      # by using == test if x is equal to string "no"

False

## Operators for comparison 
- ```<``` less than 
- ```<=``` less than or equal to 
- ```>``` greater than 
- ```>=``` greater than or equal to 
- ```==``` equal
- ```!=``` not equal

## Boolean – exercise
- Below are a couple comparisons. Try to guess the result before executing the comparisons in python.

In [75]:
5 > 4 # test if 5 is greater than 4
5>4

True

In [76]:
# test if 3 is smaller than 5
3<5

True

In [77]:
# test if 4 is equal to 4
4==4

True

In [78]:
# test if 4 is smaller than OR equal to 4
4<=4

True

In [79]:
# test if 4 is greater than OR equal to 3
4>=3

True

In [80]:
# test if 3 is NOT equal to 3
3!=3

False

In [82]:
# test if "yes" is NOT equal to "no" 
"yes"!="no"

True

In [83]:
# test if "yes" is equal to "yes"
"yes"=="yes"

True

# Boolean – exercise 
- Just like before, try to guess the result before executing the comparisons
- ```and``` means that both comparisons need to be true
- ```or``` means that only one of the two comparisons need to be true
- ```not``` outputs true if the comparison is false
- Boolean logic follows mathematical sequence, thus comparisons between brackets are evaluated first.

In [86]:
# test if 5 is greater than 3 AND if 5 is greater than 1
5>3 and 5>1

True

In [87]:
# test if 5 is smaller than 3 OR 5 is greater than 1
5<3 or 5>1

True

In [1]:
# test if 5 is NOT greater than 3 
5<3

False

In [2]:
# test if 5 is smaller than or equal to 3
5<=3

False

In [164]:
# test if 5 is NOT greater than 3 OR 5 is greater than 1
5<3 or 5>1

True

In [165]:
# test if both are NOT true
5<3 or 5<1

False

# Lists
-  A list can contain all types and a combination of different types (characters, strings, integers, floats, booleans, other lists)
    - We already discussed that a string is a list of characters
- Each item on the list has an index. The index is based on the place on the list, and python starts counting the indices at 0. Thus, the first item on the list has index 0, the second item has index 1 etc. etc. etc.
- A list is created between square brackets, with the items seperated by a comma.

list_of_numbers = [0, 8, 5, 3, 6.5, 9.9, 102]  #creates a list of grades, each item seperated by a comma 
                                               #and the list is flanked by square brackets
print(list_of_numbers)  # prints the list

In [181]:
print('list_of_numbers'[2])                 #prints the number at index 2(third item)
print(len(list_of_numbers))               #prints the length of the list

s
1

In [187]:
#you can also make lists of other types
booleans = [True, False, True, True, False]  
characters = ['a', 'b', 'c']
strings = ["hello", "this", "is", "a", "list"]
lists = [booleans, characters, strings]

print the lists you've just made:
print(booleans),
print(characters)
print(strings)
print(lists)

In [ ]:
print(booleans)

In [ ]:
print(characters)

In [ ]:
print(strings)

In [ ]:
print(lists)

# Lists - Exercise

1. Create a variable with a list of at least 7 numbers
2. Print the result of the second number times the fourth number
3. Print the first five numbers
4. Print the length of the list
5. Print the length of the list plus the seventh number

In [204]:
# 1.Create a variable with a list of at least 7 numbers
variable=[1,4,5,8,9,10,12]
print(variable)

[1, 4, 5, 8, 9, 10, 12]

In [205]:
# 2.Print the result of the second number times the fourth number
print(variable[2]*variable[4])

45

In [207]:
# 3.Print the first five numbers
print(variable[0:5])

[1, 4, 5, 8, 9]

In [208]:
# 4.Print the length of the list
print(len(variable))

7

In [223]:
# 5.Print the length of the list plus the seventh number
print(len(variable)+ variable[6])

19

###################################################  END OF MODULE 1  #########################################################