## 3.2 Additional practice
Below code imports the CSV file `Module3_2_dayData.csv` as a Pandas DataFrame. It contains daily Ethiopian Meteorology Institute (EMI) station data for different stations and elements. With the tools you learned, you can select parts of this DataFrame.

In [2]:
import pandas as pd
dayData = pd.read_csv('Module3_2_dayData.csv')

With Boolean slicing, we can filter the DataFrame. For example, to get all TMPMAX values for the station Gondar A.P., you can use below code.

In [2]:
dayData.loc[(dayData.station == 'Gondar A.P.') & (dayData.element == 'TMPMAX')]

            station element    Datetime  year  month  day  value
90752   Gondar A.P.  TMPMAX  1970-01-01  1970      1    1   28.0
90753   Gondar A.P.  TMPMAX  1970-01-02  1970      1    2   27.3
90754   Gondar A.P.  TMPMAX  1970-01-03  1970      1    3   28.0
90755   Gondar A.P.  TMPMAX  1970-01-04  1970      1    4   27.1
90756   Gondar A.P.  TMPMAX  1970-01-05  1970      1    5   27.4
...             ...     ...         ...   ...    ...  ...    ...
106883  Gondar A.P.  TMPMAX  2015-09-26  2015      9   26    NaN
106884  Gondar A.P.  TMPMAX  2015-09-27  2015      9   27    NaN
106885  Gondar A.P.  TMPMAX  2015-09-28  2015      9   28    NaN
106886  Gondar A.P.  TMPMAX  2015-09-29  2015      9   29    NaN
106887  Gondar A.P.  TMPMAX  2015-09-30  2015      9   30    NaN

[16136 rows x 7 columns]

In [ ]:
# Select all rows for station Shembekit

In [ ]:
# Select all rows for station Ambagiorgis Sch, for the year 1972 only

Numpy as several mathematical functions. You can put any part of the DataFrame into those functions. For example, to calculate the sum of PRECIP for station Shembekit in 2015, we need to select that data, and then take the sum with `np.sum`.

In [3]:
import numpy as np
# Select only Shembekit, 2015, PRECIP, and save it under the name precip_sh_2015
precip_sh_2015 = dayData.loc[(dayData.station == 'Shembekit') & (dayData.year == 2015) & (dayData.element == 'PRECIP')] 

# Select only column 'value', and take the sum of this column
precip_sum = np.sum(precip_sh_2015.value) 

print(precip_sum)

1119.0000000000002

In [ ]:
# What is the average TMPMAX for Gondar A.P.?

In [ ]:
# What is the maximum SUNHRS for Gondar A.P. in the month August, 2012?

In [ ]:
# What are the minimum and maximum years for station Aymba?

We know how to combine two conditions using the **&** symbol. For example, when we want only the rows from station Shembekit of the year 2015, we can use the following code:
```python
dayData.loc[(dayData.station == 'Shembekit') & (dayData.year == 2015)]
```

But if we now want to select all rows where the year is either 2015 OR 2016, we should not use the **&** symbol, but we can use the **|** symbol, like this:

```python
dayData.loc[(dayData.year == 2015) | (dayData.year == 2016)]
```

If we now want to combine this with selecting a station, we need to put the selection of years within brackets, like this:

```python
dayData.loc[(dayData.station == 'Shembekit') & ((dayData.year == 2015) | (dayData.year == 2016))]
```

In [ ]:
# Select all rows with years 2011 or 2012

In [ ]:
# Select all rows of station Aymba for the years 2009 or 2010

In [ ]:
# Advanced: Of station Maksegnit, select the values where element is PRECIP for year 2000 or 2001

In [ ]:
# Advanced: change below for-loop to calculate the sum of PRECIP per station, and store it in the dictionary precipDict
precip_dict = {}
for station in ['Ambagiorgis Sch','Aymba','Chewahit','Gondar A.P.','Maksegnit','Shembekit']:
    # Add code that calculates the sum of precip for only station
    # Add code that adds the calculated sum into precip_dict, like precip_dict[station] = sum

In [ ]:
# Advanced: change below for-loop to calculate the sum of PRECIP per year for Aymba, and store it in the dictionary precipDictAymba
startyear = #put the minimum year for Aymba here
endyear = #put the maximum year for Aymba here
aymba_precip_dict = {}
for year in range(startyear,endyear+1):
    # Add code that calculates the sum of precip for only Aymba, only one year
    # Add code that adds the calculated sum into aymba_precip_dict, like aymba_precip_dict[year]=sum